# Import Data

In [54]:
#Import libraries:

import pandas as pd
import numpy as np
import seaborn as sns
from sklearn import linear_model
import matplotlib.pyplot as plt
%matplotlib inline

def my_fun(num_):
    return int(num_)

data = pd.read_excel('C:\\Users\\Closer\\Desktop\\Closer\\Imp_Doc\\A2Z_Insurance.xlsx', delimiter=',',  converters={'Customer Age': my_fun})

# New Set of Data

In [53]:
data1 = data.head(500)
data1;

In [29]:
Policy_Year =  data.iloc[:,1] 
Policy_Year = Policy_Year.dropna().apply(np.int64)
Policy_Year;

In [31]:
    #dropna() is used to drop the NaN values. 
    #apply function is used to convert float into integer
Customer_Age = data.iloc[:,2]
Customer_Age= Customer_Age.dropna().apply(np.int64)
Customer_Age;

In [32]:
Gross_Monthly_Salary = data.iloc[:,4]
Gross_Monthly_Salary = Gross_Monthly_Salary.dropna().apply(np.int64)
Gross_Monthly_Salary;

In [36]:
Geographic_Living_Area = data.iloc[:,5]
Geographic_Living_Area = Geographic_Living_Area.dropna().apply(np.int64)
Geographic_Living_Area;

In [50]:
Children = data.iloc[:,6]
Children = Children.dropna().apply(np.int64)
Children;

# Clustering

In [19]:
# K Means Cluster
from sklearn.cluster import KMeans
model = KMeans(n_clusters=4)
model.fit(data1_without_nan3)

NameError: name 'data1_without_nan3' is not defined