# Preliminaries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn import linear_model
import matplotlib.pyplot as plt
%matplotlib inline

# Load the data

In [2]:
data = pd.read_excel('C:\\Users\\Closer\\Desktop\\Closer\\Imp_Doc\\A2Z_Insurance.xlsx', delimiter=',' )


#Int_data = ["First Policy´s Year", "Customer Age", "Gross Monthly Salary", "Geographic Living Area"]
#data[Int_data] = data[Int_data].applymap(np.int64)

In [3]:
data.shape

(10296, 14)

In [4]:
data.shape

(10296, 14)

In [5]:
data.values;

In [6]:
data1 = data[['Customer Identity', 'First Policy´s Year', 'Customer Age',
       'Gross Monthly Salary', 'Geographic Living Area',
       'Has Children (Y=1)', 'Customer Monetary Value', 'Claims Rate',
       'Premiums in LOB: Motor', 'Premiums in LOB: Household',
       'Premiums in LOB: Health', 'Premiums in LOB:  Life',
       'Premiums in LOB: Work Compensations']]
df1 = data[['Customer Identity', 'First Policy´s Year', 'Customer Age',
       'Gross Monthly Salary', 'Geographic Living Area',
       'Has Children (Y=1)', 'Customer Monetary Value', 'Claims Rate',
       'Premiums in LOB: Motor', 'Premiums in LOB: Household',
       'Premiums in LOB: Health', 'Premiums in LOB:  Life',
       'Premiums in LOB: Work Compensations']]

In [7]:
data1; # Data1 is without Educational Degree.

# Creating new dataset

## 1. Change the Name_of_the_Column and integrate it with underscore so that the names can be used directly for the further purposes.

In [8]:
data2 = data1.rename(columns = {'Customer Identity':'Customer_Identity' , 
                           'First Policy´s Year':'First_Policy_Year',
                           'Customer Age':'Customer_Age',
                           'Gross Monthly Salary': 'Gross_Monthly_Salary',
                           'Geographic Living Area':'Geographic_Living_Area',
                           'Has Children (Y=1)': 'Has_Children', 
                           'Customer Monetary Value':'Customer_Monetary_Value',
                           'Claims Rate':'Claims_Rate',
                           'Premiums in LOB: Motor':'Premiums_Motor', 
                           'Premiums in LOB: Household':'Premiums_Household',
                           'Premiums in LOB: Health':'Premiums_Health',
                           'Premiums in LOB:  Life':'Premiums_Life',
                           'Premiums in LOB: Work Compensations':'Premiums_Work_Compensations'})

In [9]:
data2;

#  Df (Stylish 10000 ;) )

In [10]:
df_rename =df1.rename(columns = {'Customer Identity':'Customer_Identity' , 
                           'First Policy´s Year':'First_Policy_Year',
                           'Customer Age':'Customer_Age',
                           'Gross Monthly Salary': 'Gross_Monthly_Salary',
                           'Geographic Living Area':'Geographic_Living_Area',
                           'Has Children (Y=1)': 'Has_Children', 
                           'Customer Monetary Value':'Customer_Monetary_Value',
                           'Claims Rate':'Claims_Rate',
                           'Premiums in LOB: Motor':'Premiums_Motor', 
                           'Premiums in LOB: Household':'Premiums_Household',
                           'Premiums in LOB: Health':'Premiums_Health',
                           'Premiums in LOB:  Life':'Premiums_Life',
                           'Premiums in LOB: Work Compensations':'Premiums_Work_Compensations'})

In [11]:
df_rename.columns

Index(['Customer_Identity', 'First_Policy_Year', 'Customer_Age',
       'Gross_Monthly_Salary', 'Geographic_Living_Area', 'Has_Children',
       'Customer_Monetary_Value', 'Claims_Rate', 'Premiums_Motor',
       'Premiums_Household', 'Premiums_Health', 'Premiums_Life',
       'Premiums_Work_Compensations'],
      dtype='object')

##  Now, need to organise the dataset.

### NaN treatment

In [12]:
df_rename.shape

(10296, 13)

In [13]:
df_Id_Index = df_rename.set_index('Customer_Identity')

In [14]:
df_fillna= df_Id_Index.fillna(method= 'ffill') #Interpolate the values

In [15]:
#df_CR_index = df_fillna.sort_values('Claims_Rate')

In [16]:
df_fillna;

In [17]:
df2 = df_fillna.head(n = 10000)

In [18]:
df1.shape

(10296, 13)

In [19]:
df2.shape

(10000, 12)

In [20]:
df2.isnull().any()

First_Policy_Year              False
Customer_Age                   False
Gross_Monthly_Salary           False
Geographic_Living_Area         False
Has_Children                   False
Customer_Monetary_Value        False
Claims_Rate                    False
Premiums_Motor                 False
Premiums_Household             False
Premiums_Health                False
Premiums_Life                  False
Premiums_Work_Compensations    False
dtype: bool

In [21]:
df2.fillna(method = 'ffill');

###  NaN - interpolation

In [22]:
columns =  df2.iloc[:,:5]
for col in columns:
    df2[col] = df2[col].fillna(method = 'ffill').apply(int)
df2;

C:\Users\Closer\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [23]:
df2.dtypes

First_Policy_Year                int64
Customer_Age                     int64
Gross_Monthly_Salary             int64
Geographic_Living_Area           int64
Has_Children                     int64
Customer_Monetary_Value        float64
Claims_Rate                    float64
Premiums_Motor                 float64
Premiums_Household             float64
Premiums_Health                float64
Premiums_Life                  float64
Premiums_Work_Compensations    float64
dtype: object

In [24]:
df2.Customer_Age.unique()

array([34, 21, 46, 35, 43, 60, 73, 42, 38, 68, 71, 58, 67, 16, 41, 37, 27,
       54, 30, 55, 64, 72, 79, 74, 44, 63, 50, 61, 75, 78, 48, 26, 32, 36,
       70, 51, 59, 49, 39, 65, 31, 57, 28, 33, 77, 52, 66, 56, 40, 45, 62,
       47, 22, 24, 19, 53, 25, 17, 23, 69, 29, 20, 76, 81, 80, 18, 15],
      dtype=int64)

## Change the Index for Data2

### - To make the DataFrame relevant, the Customer_Identity is used as index

In [25]:
data2= data2.set_index('Customer_Identity')

In [26]:
data2.shape

(10296, 12)

In [27]:
data2.Claims_Rate;

In [28]:
a = data2.First_Policy_Year.dropna().apply(np.int64); # The pupose of this was to check if it changes for the data frame or not. 
# It is found that it doesn't apply effect the data2.

In [29]:
data2;

### Check if there is any Null value in any column

In [30]:
data2.isnull().any() # True value suggest that there are null.

First_Policy_Year               True
Customer_Age                    True
Gross_Monthly_Salary            True
Geographic_Living_Area          True
Has_Children                    True
Customer_Monetary_Value        False
Claims_Rate                    False
Premiums_Motor                  True
Premiums_Household             False
Premiums_Health                 True
Premiums_Life                   True
Premiums_Work_Compensations     True
dtype: bool

In [31]:
data2.dtypes

First_Policy_Year              float64
Customer_Age                   float64
Gross_Monthly_Salary           float64
Geographic_Living_Area         float64
Has_Children                   float64
Customer_Monetary_Value        float64
Claims_Rate                    float64
Premiums_Motor                 float64
Premiums_Household             float64
Premiums_Health                float64
Premiums_Life                  float64
Premiums_Work_Compensations    float64
dtype: object

In [32]:
df1.describe()

,Customer Identity,First Policy´s Year,Customer Age,Gross Monthly Salary,Geographic Living Area,Has Children (Y=1),Customer Monetary Value,Claims Rate,Premiums in LOB: Motor,Premiums in LOB: Household,Premiums in LOB: Health,Premiums in LOB: Life,Premiums in LOB: Work Compensations
count,10296.00000,10265.000000,10279.000000,10258.000000,10295.000000,10275.000000,10296.000000,10296.000000,10262.000000,10296.000000,10253.000000,10192.000000,10209.000000
mean,5148.50000,1986.017048,47.903687,4996.326087,2.709859,0.706764,177.892604,0.684239,300.470252,210.431192,171.580833,41.855782,41.240703
std,2972.34352,6.612110,17.394590,1969.053253,1.266291,0.455268,1945.811545,0.381656,211.914997,352.595984,296.405976,47.480632,51.381629
min,1.00000,1974.000000,15.000000,665.000000,1.000000,0.000000,-165680.424000,0.000000,-4.110000,-75.000000,-2.110000,-7.000000,-12.000000
25%,2574.75000,1980.000000,33.000000,3411.000000,1.000000,0.000000,-9.440000,0.392221,190.590000,49.450000,111.800000,9.890000,10.670000
50%,5148.50000,1986.000000,48.000000,5002.000000,3.000000,1.000000,186.870000,0.719198,298.610000,132.800000,162.810000,25.560000,25.670000
75%,7722.25000,1992.000000,63.000000,6580.000000,4.000000,1.000000,399.777500,0.976307,408.300000,290.050000,219.820000,57.790000,56.790000
max,10296.00000,1998.000000,81.000000,10042.000000,4.000000,1.000000,11875.890000,13.900000,11604.420000,25048.800000,28272.000000,398.300000,1988.700000

# 2. Convert the float into int. 
## -  Remove the NaN so that you can apply (int)

##  - The most important part is to replace the NaN values (not drop) and convert the necessary floats into integers.

In [33]:
data2['First_Policy_Year']=data2.First_Policy_Year.dropna().apply(np.int64) # Testing
data2.columns

Index(['First_Policy_Year', 'Customer_Age', 'Gross_Monthly_Salary',
       'Geographic_Living_Area', 'Has_Children', 'Customer_Monetary_Value',
       'Claims_Rate', 'Premiums_Motor', 'Premiums_Household',
       'Premiums_Health', 'Premiums_Life', 'Premiums_Work_Compensations'],
      dtype='object')

In [34]:
columns =  data2.iloc[:,:5]
for col in columns:
    data2[col] = data2[col].fillna(method = 'ffill').apply(int)

In [35]:
#data2.sort_values('Customer_Monetary_Value');

In [36]:
columns =  data2.iloc[:,6:13]
for col in columns:
    data2[col] = data2[col].fillna(method = 'ffill').apply(float) 
    #The float was tried to convert into str but it's better in float.

In [37]:
data2.dtypes

First_Policy_Year                int64
Customer_Age                     int64
Gross_Monthly_Salary             int64
Geographic_Living_Area           int64
Has_Children                     int64
Customer_Monetary_Value        float64
Claims_Rate                    float64
Premiums_Motor                 float64
Premiums_Household             float64
Premiums_Health                float64
Premiums_Life                  float64
Premiums_Work_Compensations    float64
dtype: object

In [38]:
data2.columns

Index(['First_Policy_Year', 'Customer_Age', 'Gross_Monthly_Salary',
       'Geographic_Living_Area', 'Has_Children', 'Customer_Monetary_Value',
       'Claims_Rate', 'Premiums_Motor', 'Premiums_Household',
       'Premiums_Health', 'Premiums_Life', 'Premiums_Work_Compensations'],
      dtype='object')

In [39]:
data2.head()

,First_Policy_Year,Customer_Age,Gross_Monthly_Salary,Geographic_Living_Area,Has_Children,Customer_Monetary_Value,Claims_Rate,Premiums_Motor,Premiums_Household,Premiums_Health,Premiums_Life,Premiums_Work_Compensations
Customer_Identity,,,,,,,,,,,,
1,1985,34,4354,1,1,380.97,0.390032,375.85,79.45,146.36,47.01,16.89
2,1981,21,1353,4,1,-131.13,1.116503,77.46,416.20,116.69,194.48,106.13
3,1991,46,4554,3,0,504.67,0.284810,206.15,224.50,124.58,86.35,99.02
4,1990,35,2197,4,1,-16.99,0.986665,182.48,43.35,311.17,35.34,28.34
5,1986,43,3526,4,1,35.23,0.904281,338.62,47.80,182.59,18.78,41.45

### To check the customers' age in decending order.

In [40]:
customer_age = data2.sort_values('Customer_Age', ascending = False)
customer_age.head()

,First_Policy_Year,Customer_Age,Gross_Monthly_Salary,Geographic_Living_Area,Has_Children,Customer_Monetary_Value,Claims_Rate,Premiums_Motor,Premiums_Household,Premiums_Health,Premiums_Life,Premiums_Work_Compensations
Customer_Identity,,,,,,,,,,,,
8875,1995,81,8150,1,0,382.18,0.356298,329.95,54.45,200.26,35.34,12.56
9731,1990,81,8949,3,0,94.47,0.857706,111.80,339.50,268.83,106.91,12.56
8423,1994,81,8111,3,0,-97.54,1.134720,257.05,-40.55,254.27,29.56,38.12
1014,1996,81,8493,2,0,-98.79,1.087069,142.36,299.50,307.17,24.67,73.79
8261,1975,81,7595,4,0,133.25,0.769359,146.25,112.80,340.62,37.23,49.23

In [41]:
Gross_Monthly_Salary = data2.sort_values('Gross_Monthly_Salary', ascending = True)
Gross_Monthly_Salary;

# Linear Modeling

In [42]:
data3 = data2[['Geographic_Living_Area', 'Customer_Monetary_Value', 'Claims_Rate', 'Premiums_Motor',
       'Premiums_Household', 'Premiums_Health', 'Premiums_Life',
       'Premiums_Work_Compensations']]

# Region based Data

In [43]:
Region_based_core_data = df2.rename(columns = {'Customer Identity':'Customer_Identity' , 
                           'Geographic Living Area':'Geographic_Living_Area',
                           'Customer Monetary Value':'Customer_Monetary_Value',
                           'Claims Rate':'Claims_Rate',
                           'Premiums in LOB: Motor':'Premiums_Motor', 
                           'Premiums in LOB: Household':'Premiums_Household',
                           'Premiums in LOB: Health':'Premiums_Health',
                           'Premiums in LOB:  Life':'Premiums_Life',
                           'Premiums in LOB: Work Compensations':'Premiums_Work_Compensations'})

In [44]:
df2_premiums= Region_based_core_data.dropna(subset=['Geographic_Living_Area','Customer_Monetary_Value',
                           'Claims_Rate',
                           'Premiums_Motor', 
                           'Premiums_Household',
                           'Premiums_Health',
                           'Premiums_Life',
                           'Premiums_Work_Compensations'], how = 'any')

In [45]:
data2.shape

(10296, 12)

In [46]:
df2_premiums.shape

(10000, 12)

In [47]:
Region_based_data = df2_premiums[['Geographic_Living_Area','Customer_Monetary_Value',
                           'Claims_Rate',
                           'Premiums_Motor', 
                           'Premiums_Household',
                           'Premiums_Health',
                           'Premiums_Life',
                           'Premiums_Work_Compensations']]

In [48]:
GeoRegion_based_data = Region_based_data.sort_values('Geographic_Living_Area')

In [49]:
GeoRegion_based_data;

In [50]:
GeoRegion_based_data.shape

(10000, 8)

In [51]:
GeoRegion_based_data.columns

Index(['Geographic_Living_Area', 'Customer_Monetary_Value', 'Claims_Rate',
       'Premiums_Motor', 'Premiums_Household', 'Premiums_Health',
       'Premiums_Life', 'Premiums_Work_Compensations'],
      dtype='object')

In [52]:
#Region_based_data = Region_based_data.set_index('Customer_Identity')

In [53]:
>>> import numpy as np
>>> from sklearn.manifold import TSNE
>>> X = np.array([[0, 0, 0], [0, 1, 1], [1, 0, 1], [1, 1, 1]])
>>> X_embedded = TSNE(n_components=2).fit_transform(X)
>>> X_embedded.shape
(4, 2)

(4, 2)

In [54]:
data.columns

Index(['Customer Identity', 'First Policy´s Year', 'Customer Age',
       'Educational Degree', 'Gross Monthly Salary', 'Geographic Living Area',
       'Has Children (Y=1)', 'Customer Monetary Value', 'Claims Rate',
       'Premiums in LOB: Motor', 'Premiums in LOB: Household',
       'Premiums in LOB: Health', 'Premiums in LOB:  Life',
       'Premiums in LOB: Work Compensations'],
      dtype='object')

In [55]:
columns =  Region_based_data.iloc[:,:1]
for col in columns:
    Region_based_data[col] = Region_based_data[col].fillna(method = 'ffill').apply(int)

C:\Users\Closer\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [56]:
df.shape

NameError: name 'df' is not defined

In [ ]:
Region_based_data

In [ ]:
sns.pairplot(Region_based_data, hue="Geographic_Living_Area")

In [ ]:
sns.set(style="ticks")
sns.pairplot(data2, hue="Geographic_Living_Area")

In [ ]:
data.sort_values(by = 'Customer Age', ascending == False)

In [ ]:
# Two column can be added with '+'
xyz =  data.iloc[:,2] + data.iloc[:,4];

# Drop the NaN

In [ ]:
#salary_Area_Children = data.iloc[:,4:7]

Policy_Year =  data.iloc[:,1] 
Policy_Year = Policy_Year.dropna().apply(np.int64)

In [ ]:
Customer_Age = data.iloc[:,2]
#dropna() is used to drop the NaN values. 
#apply function is used to convert float into integer
Customer_Age= Customer_Age.dropna().apply(np.int64)

In [ ]:
Gross_Monthly_Salary = data.iloc[:,4]
Gross_Monthly_Salary = Gross_Monthly_Salary.dropna().apply(np.int64)

In [ ]:
Geographic_Living_Area = data.iloc[:,5]
Geographic_Living_Area = Geographic_Living_Area.dropna().apply(np.int64)

In [ ]:
Children = data.iloc[:,6]
Children = Children.dropna().apply(np.int64)

In [ ]:
#salary_Area_Children  = salary_Area_Children.dropna().apply(np.int64)

In [ ]:
 x = pd.Series(Gross_Monthly_Salary, name="Gross_Monthly_Salary")[:5]
ax = sns.distplot(Gross_Monthly_Salary)

In [ ]:
 x = pd.Series(Geographic_Living_Area, name="Geographic_Living_Area")[:5]
ax = sns.distplot(Geographic_Living_Area)

In [ ]:
sns.set_context(df3.Geographic_Living_Area)
x = pd.Series(Customer_Age, name="Customer_Age")[:5]
ax = sns.distplot(Customer_Age)

In [ ]:
plt.hist(data1, bins = 10);

In [ ]:
#sns.set_context("paper")

# Histograms
### - to plot the distributions of numeric variables.

In [ ]:
plt.hist(data1, bins = 5);

In [ ]:
plt.hist(Gross_Monthly_Salary, bins = 8);

In [ ]:
df2.columns

In [ ]:
##
import seaborn as sbn
sbn.set_style("whitegrid")
ax = sbn.boxplot(x= "Customer_Age", y = "First_Policy_Year" , data= df2)

plain text

In [ ]:
df3.columns

## Monthly Salary in based on Living Area

In [ ]:
import seaborn as sbn
df4=df3.head(500)
sbn.set_style("darkgrid")
ax = sbn.swarmplot(x= df4.Geographic_Living_Area, y = df4.Gross_Monthly_Salary , data= df4)
plt.xticks(rotation=0)
plt.rcParams["xtick.labelsize"] = 10

In [ ]:
import seaborn as sbn
df4=df3.head(500)
sbn.set_style("darkgrid")
ax = sbn.swarmplot(x= df4.Geographic_Living_Area, y = df4.Premiums_Life , data= df4)
plt.xticks(rotation=0)
plt.rcParams["xtick.labelsize"] = 10

In [ ]:
import seaborn as sbn
df4=df3.head(500)
sbn.set_style("darkgrid")
ax = sbn.swarmplot(x= df4.Geographic_Living_Area, y = df4.Customer_Age, data= df4)
plt.xticks(rotation=0)
plt.rcParams["xtick.labelsize"] = 10

### Observation: 
#### The number of people living in region 2 is the least and highest number of people belong to region 4.
#### A close observation finds the age group patterns, < 30 , 30-55 and > 55. However, it can be divided further.

In [ ]:
import seaborn as sbn
df4=df3.head(500)
sbn.set_style("darkgrid")
ax = sbn.swarmplot(x= df4.Geographic_Living_Area, y = df4.Claims_Rate, data= df4)
plt.xticks(rotation=0)
plt.rcParams["xtick.labelsize"] = 5

In [ ]:
import seaborn as sbn
df4=df3.head(500)
sbn.set_style("darkgrid")
ax = sbn.swarmplot( x = df4.Has_Children, y= df4.Customer_Age,data= df4)
plt.xticks(rotation=0)
plt.rcParams["xtick.labelsize"] = 10

## This result is quite important. This shows that our customer are of two types, one who has children and others who don't have children. The customers withoutout children largely do not intend to have this particular insurance until the age of 60 (Retirement). On the contrary, the customers with children has subscribed for this particular insurance before a very starting point of their carrier and largely they are interested until the age of 60. The subscriptions are counteracting to each other.

In [ ]:
sns.boxplot(x = df3.Has_Children, y=df3.Claims_Rate, data=df3)

## Customers' Gross Monthly Salary analysis based on Has_Children and Geographic_Living_Area

In [ ]:
sns.boxplot(x=df3.Geographic_Living_Area, y = df3.Gross_Monthly_Salary, hue= df3.Has_Children, palette = 'husl')

In [ ]:
sns.violinplot(x=df3.Geographic_Living_Area, y = df3.Gross_Monthly_Salary, hue= df3.Has_Children)

In [ ]:
sns.violinplot(x=df3.Geographic_Living_Area, y = df3.Claims_Rate, hue= df3.Has_Children)

In [ ]:
df3.columns

## Boxplot for one variable

In [ ]:
sns.boxplot(x=df3.Customer_Age, color='#EB89B')
plt.xticks(rotation=0)
plt.rcParams["xtick.labelsize"] = 10

In [ ]:
sns.boxplot(x=df3.Claims_Rate)
plt.xticks(rotation=0)
plt.rcParams["xtick.labelsize"] = 20

In [ ]:
list(df.columns)

df = pd.DataFrame({'a' : [1, 2, 3], 'b' : [1.1, 2.1, 3.1], 'c' : [1.1, 2.1, 3.1]})


columns = list(df.columns)[1:]

for c in columns:
    df[c] = df[c].apply(int)
                           
print(df)

In [ ]:
import seaborn as sbn
sbn.set_style("whitegrid")
ax = sbn.swarmplot(x= "Customer Age", y = "Gross Monthly Salary" , data= data1)

In [ ]:
import seaborn as sbn
sbn.set_style("darkgrid")
#tips = sbn.data("tips")
ax = sbn.barplot(x= "Customer Age", y = "Gross Monthly Salary" , data= data1)

In [ ]:
import seaborn as sbn
sbn.set_style("darkgrid")
#tips = sbn.data("tips")
ax = sbn.violinplot(x= "Customer Age", y = "Gross Monthly Salary" , data= data1)

In [ ]:
import seaborn as sns
sns.set_style("darkgrid")
ax = sns.violinplot(x= "Geographic Living Area", y = "Gross Monthly Salary" , data= data1)

In [ ]:
import seaborn as sns
sns.set_style("darkgrid")
ax = sns.violinplot(x= "Has Children (Y=1)", y = "Gross Monthly Salary" , data= data1)

In [ ]:
import seaborn as sns
sbn.set_style("darkgrid")
#tips = sbn.data("tips")
ax = sns.violinplot(x= "Has Children (Y=1)", y = "Gross Monthly Salary" , data= data1)

In [ ]:
sns.set(style="whitegrid", palette="muted")




# "Melt" the dataset to "long-form" or "tidy" representation
#iris = pd.melt(data1, "Customer Age", var_name="Gross Monthly Salary")

# Draw a categorical scatterplot to show each observation
sns.swarmplot(y="Gross Monthly Salary", x="Customer Age", hue="Geographic Living Area", data= data1)
#To visualize the x axis labels we use:
plt.xticks(rotation=90)
plt.rcParams["xtick.labelsize"] = 10

In [ ]:
sns.boxplot(data=data['Gross Monthly Salary'])

In [ ]:
import seaborn as sbn
sbn.set_style("whitegrid")
#tips = sbn.data("tips")
ax = sbn.swarmplot(x= "Customer Age", y = "Gross Monthly Salary" , data= data)

In [ ]:
data.columns

In [ ]:
import pandas as pd
import numpy as np
#from matplotlib.colors import Normalize, rgb2hex
import matplotlib.pyplot as plt

data = pd.read_excel('C:\\Users\\Closer\\Desktop\\Closer\\Imp_Doc\\A2Z_Insurance.xlsx', delimiter=',')
data1 = data.head(n = 10)

In [ ]:
data1.index

In [ ]:
plt.matshow(data1.corr())

In [ ]:
data1.columns

In [ ]:
sns.boxplot(y = data1['Customer Age'], x = data1['Has Children (Y=1)'])

In [ ]:
import seaborn as sns
corr = data1.corr()
fig, ax = plt.subplots(figsize=(10,8))
sns.heatmap(corr, 
            xticklabels=corr.columns.values,
            yticklabels=corr.columns.values)

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt
data1.hist(bins=50, figsize=(15,10), color='#AB89B5')
plt.show()

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt
data.hist(bins=50, figsize=(15,10))
plt.show()

In [ ]:
from sklearn import svm 
clf = svm.SVM()
clf.fit(X,y)

## Claim_Rate based on Geographyc_Living_Area

In [ ]:
df3.columns

In [ ]:
sns.barplot(x= df3.Geographic_Living_Area, y = df3.Claims_Rate)

In [ ]:
#The violin plot features a kernel density estimation of the underlying distribution.
import seaborn as sns
sns.set(style="whitegrid", palette="pastel", color_codes=True)
# Draw a nested violinplot and split the violins for easier comparison
sns.violinplot(x=df.Geographic_Living_Area, y=df.Gross_Monthly_Salary, hue=df.Has_Children, data=df, split=True,
               inner="quart")
sns.despine(left=True)

In [ ]:
sns.pairplot(df2, hue = 'Geographic_Living_Area',size = 4)

In [ ]:
#The violin plot features a kernel density estimation of the underlying distribution.
import seaborn as sns
sns.set(style="whitegrid", palette="pastel", color_codes=True)
# Draw a nested violinplot and split the violins for easier comparison
sns.violinplot(x=df.Geographic_Living_Area, y=df.Claims_Rate, hue=df.Has_Children, data=df, split=True,
               inner="quart")
sns.despine(left=True)

In [ ]:
data2.columns

In [ ]:
data2[(data2.Customer_Age >= 60) | (data2.Customer_Monetary_Value >= 50) ];

# It gives common results

#  Filter the Data

In [ ]:
df.shape

In [ ]:
#Check Unique value for each column
def unique_counts(df2):
    for i in df2.columns:
        count = df2[i].nunique()
        print(i, ": ", count)
unique_counts(df2)

First_Policy_Year,  Customer_Age, Geographic_Living_Area and Has_Children is preferable to use as the unique value classification-

In [ ]:
sns.pairplot(df2, hue='First_Policy_Year', kind='scatter', diag_kind='hist', markers=None, size=2.5, aspect=1, dropna=True)

In [ ]:
from sklearn.cluster import KMeans
model = KMeans(n_clusters=4)
model.fit(df2)

In [ ]:
df.columns

In [ ]:
#sns.boxplot(df2.Customer_Monetary_Value)
Q1 = df2.quantile(0.25)
Q3 = df2.quantile(0.75)
IQR = Q3 - Q1
((df2 < (Q1 - 1.5 * IQR)) | (df2 > (Q3 + 1.5 * IQR))).sum()

#mask = (df2 < (Q1 - 1.5 * IQR)) | (df2 > (Q3 + 1.5 * IQR))
#df2[mask] = np.nan

In [ ]:
sns.jointplot(y = 'Premiums_Health', x = 'Customer_Age', data= df2)

In [ ]:
from scipy.spatial.distance import cdist
clusters=range(1,10)
meandist=[]
for k in clusters:
    model=KMeans(n_clusters=k)
    model.fit(df2)
    clusassign=model.predict(df2)
    meandist.append(sum(np.min(cdist(df2, model.cluster_centers_, ‘euclidean’), axis=1))
                    / df2.shape[0])

In [ ]:
class KMeans:
    def __init__(self, k):
    self.k = k # number of clusters
    self.means = None # means of clusters
    
    def classify(self, input):
        return min(range(self.k),
                   key=lambda i: squared_distance(input, self.means[i]))
    def train(self, inputs):
        self.means = random.sample(inputs, self.k)
        assignments = None
        while True:
            new_assignments = map(self.classify, inputs)

            if assignments == new_assignments:return
            assignments = new_assignments
            for i in range(self.k):
                i_points = [p for p, a in zip(inputs, assignments) if a == i]
                if i_points:
                    self.means[i] = vector_mean(i_points)

In [ ]:
random.seed(0) # so you get the same results as me
clusterer = KMeans(3)
clusterer.train(inputs)
print clusterer.means