# Preliminaries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn import linear_model
import matplotlib.pyplot as plt
%matplotlib inline

# Load the data

In [2]:
data = pd.read_excel('C:\\Users\\Closer\\Desktop\\Closer\\Imp_Doc\\A2Z_Insurance.xlsx', delimiter=',' )


#Int_data = ["First Policy´s Year", "Customer Age", "Gross Monthly Salary", "Geographic Living Area"]
#data[Int_data] = data[Int_data].applymap(np.int64)

In [3]:
data.values;

In [4]:
df1 = data[['Customer Identity', 'First Policy´s Year', 'Customer Age',
       'Gross Monthly Salary', 'Geographic Living Area',
       'Has Children (Y=1)', 'Customer Monetary Value', 'Claims Rate',
       'Premiums in LOB: Motor', 'Premiums in LOB: Household',
       'Premiums in LOB: Health', 'Premiums in LOB:  Life',
       'Premiums in LOB: Work Compensations']]

# Creating new dataset

## 1. Change the Name_of_the_Column and integrate it with underscore so that the names can be used directly for the further purposes.

#  Df (Stylish)

In [5]:
df_rename =df1.rename(columns = {'Customer Identity':'Customer_Identity' , 
                           'First Policy´s Year':'First_Policy_Year',
                           'Customer Age':'Customer_Age',
                           'Gross Monthly Salary': 'Gross_Monthly_Salary',
                           'Geographic Living Area':'Geographic_Living_Area',
                           'Has Children (Y=1)': 'Has_Children', 
                           'Customer Monetary Value':'Customer_Monetary_Value',
                           'Claims Rate':'Claims_Rate',
                           'Premiums in LOB: Motor':'Premiums_Motor', 
                           'Premiums in LOB: Household':'Premiums_Household',
                           'Premiums in LOB: Health':'Premiums_Health',
                           'Premiums in LOB:  Life':'Premiums_Life',
                           'Premiums in LOB: Work Compensations':'Premiums_Work_Compensations'})

In [6]:

df_rename.columns

Index(['Customer_Identity', 'First_Policy_Year', 'Customer_Age',
       'Gross_Monthly_Salary', 'Geographic_Living_Area', 'Has_Children',
       'Customer_Monetary_Value', 'Claims_Rate', 'Premiums_Motor',
       'Premiums_Household', 'Premiums_Health', 'Premiums_Life',
       'Premiums_Work_Compensations'],
      dtype='object')

##  Now, need to organise the dataset.

### NaN treatment

In [7]:
df_rename.shape

(10296, 13)

In [8]:
df_Id_Index = df_rename.set_index('Customer_Identity')

In [9]:
df2= df_Id_Index.fillna(method= 'ffill') #Interpolate the values

In [10]:
#df_CR_index = df_fillna.sort_values('Claims_Rate')

In [11]:
df2;

In [12]:
df2.shape

(10296, 12)

In [13]:
df2.isnull().any()

First_Policy_Year              False
Customer_Age                   False
Gross_Monthly_Salary           False
Geographic_Living_Area         False
Has_Children                   False
Customer_Monetary_Value        False
Claims_Rate                    False
Premiums_Motor                 False
Premiums_Household             False
Premiums_Health                False
Premiums_Life                  False
Premiums_Work_Compensations    False
dtype: bool

###  NaN - interpolation

In [14]:
columns =  df2.iloc[:,:5]
for col in columns:
    df2[col] = df2[col].apply(int)
df2;

In [15]:
df2.dtypes

First_Policy_Year                int64
Customer_Age                     int64
Gross_Monthly_Salary             int64
Geographic_Living_Area           int64
Has_Children                     int64
Customer_Monetary_Value        float64
Claims_Rate                    float64
Premiums_Motor                 float64
Premiums_Household             float64
Premiums_Health                float64
Premiums_Life                  float64
Premiums_Work_Compensations    float64
dtype: object

In [16]:
df2.Customer_Age.unique()

array([34, 21, 46, 35, 43, 60, 73, 42, 38, 68, 71, 58, 67, 16, 41, 37, 27,
       54, 30, 55, 64, 72, 79, 74, 44, 63, 50, 61, 75, 78, 48, 26, 32, 36,
       70, 51, 59, 49, 39, 65, 31, 57, 28, 33, 77, 52, 66, 56, 40, 45, 62,
       47, 22, 24, 19, 53, 25, 17, 23, 69, 29, 20, 76, 81, 80, 18, 15],
      dtype=int64)

## Change the Index for Data2

### - To make the DataFrame relevant, the Customer_Identity is used as index

In [17]:
df2.Claims_Rate;

In [18]:
#a = data2.First_Policy_Year.dropna().apply(np.int64); # The pupose of this was to check if it changes for the data frame or not. 
# It is found that it doesn't apply effect the data2.

### Check if there is any Null value in any column

In [19]:
df2.isnull();

In [20]:
df2.dtypes

First_Policy_Year                int64
Customer_Age                     int64
Gross_Monthly_Salary             int64
Geographic_Living_Area           int64
Has_Children                     int64
Customer_Monetary_Value        float64
Claims_Rate                    float64
Premiums_Motor                 float64
Premiums_Household             float64
Premiums_Health                float64
Premiums_Life                  float64
Premiums_Work_Compensations    float64
dtype: object

In [21]:
dir(df2);

In [22]:
df2.describe()

,First_Policy_Year,Customer_Age,Gross_Monthly_Salary,Geographic_Living_Area,Has_Children,Customer_Monetary_Value,Claims_Rate,Premiums_Motor,Premiums_Household,Premiums_Health,Premiums_Life,Premiums_Work_Compensations
count,10296.000000,10296.000000,10296.000000,10296.000000,10296.000000,10296.000000,10296.000000,10296.000000,10296.000000,10296.000000,10296.000000,10296.000000
mean,1986.020202,47.901418,4995.856158,2.709984,0.706876,177.892604,0.684239,300.486081,210.431192,172.224793,41.884261,41.296363
std,6.612583,17.388135,1968.171012,1.266293,0.455217,1945.811545,0.381656,211.690281,352.595984,304.094586,47.522474,51.432838
min,1974.000000,15.000000,665.000000,1.000000,0.000000,-165680.424000,0.000000,-4.110000,-75.000000,-2.110000,-7.000000,-12.000000
25%,1980.000000,33.000000,3411.000000,1.000000,0.000000,-9.440000,0.392221,190.590000,49.450000,111.800000,9.890000,10.670000
50%,1986.000000,48.000000,4999.500000,3.000000,1.000000,186.870000,0.719198,298.610000,132.800000,162.810000,25.560000,25.670000
75%,1992.000000,63.000000,6578.250000,4.000000,1.000000,399.777500,0.976307,408.300000,290.050000,219.040000,57.790000,56.790000
max,1998.000000,81.000000,10042.000000,4.000000,1.000000,11875.890000,13.900000,11604.420000,25048.800000,28272.000000,398.300000,1988.700000

# 2. Convert the float into int. 
## -  Remove the NaN so that you can apply (int)

##  - The most important part is to replace the NaN values (not drop) and convert the necessary floats into integers.

### To check the customers' age in decending order.

In [23]:
# Two column can be added with '+'
df2['Total_Premium'] =  df2.iloc[:,7]+df2.iloc[:,8] + df2.iloc[:,9] + df2.iloc[:,10]+ df2.iloc[:,11];

In [24]:
df2;

# Histograms
### - to plot the distributions of numeric variables.

# Clustering

## Demographic Clustering

In [25]:
df2.columns

Index(['First_Policy_Year', 'Customer_Age', 'Gross_Monthly_Salary',
       'Geographic_Living_Area', 'Has_Children', 'Customer_Monetary_Value',
       'Claims_Rate', 'Premiums_Motor', 'Premiums_Household',
       'Premiums_Health', 'Premiums_Life', 'Premiums_Work_Compensations',
       'Total_Premium'],
      dtype='object')

In [26]:
Clus_1 = df2.First_Policy_Year.values
Clus_2 = df2.Customer_Age.values
Clus_3 = df2.Gross_Monthly_Salary.values


#KMeans(n_clusters =5,  )

In [27]:
Data_Clus = df2[['Customer_Age', 'Gross_Monthly_Salary','Geographic_Living_Area', 'Has_Children']]

In [28]:
## to test in another dataset

Data_Set_2 = df2[['First_Policy_Year', 'Customer_Age', 'Gross_Monthly_Salary','Geographic_Living_Area']]

kmeans2 = KMeans(n_clusters =4).fit(Data_Set_2)
print(kmeans2.cluster_centers_)
print(kmeans2.labels_)
plt.scatter(x = Data_Set_2.Customer_Age,y= Data_Set_2.First_Policy_Year, c =kmeans.labels_, cmap = 'rainbow')
X_embedded = TSNE(n_components=2).fit_transform(Data_Set_2)
X_embedded.shape

NameError: name 'KMeans' is not defined

In [29]:
from sklearn.manifold import TSNE
#sklearn.manifold.TSNE is such a powerful manifold learning method.
#apply it to the digits dataset, as the digits are vectors of dimension 8*8 = 64. Embedding them in 2D enables visualization

X_embedded = TSNE(n_components=2).fit_transform(Data_Set_2)  
#As TSNE cannot be applied to new data, we need to use its fit_transform method.

X_embedded.shape
plt.scatter(X_embedded[:, 0],X_embedded[:, 1], c =kmeans2.labels_)

NameError: name 'kmeans2' is not defined

In [ ]:
data.loc[(data["Gender"]=="Female") & (data["Education"]=="Not Graduate") 
         & (data["Loan_Status"]=="Y"), ["Gender","Education","Loan_Status"]]

In [ ]:
from sklearn.metrics import silhouette_score
from sklearn.cluster import KMeans

X = load_iris().data
y = load_iris().target

for n_cluster in range(2, 11):
    kmeans = KMeans(n_clusters=n_cluster).fit(X)
    label = kmeans.labels_
    sil_coeff = silhouette_score(X, label, metric='euclidean')
    print("For n_clusters={}, The Silhouette Coefficient is {}".format(n_cluster, sil_coeff))

NameError: name 'k_means' is not defined

In [ ]:
Claims_Rate = (df2[df2['Claims_Rate'] < 2]).values

In [ ]:
Claims_Rate

In [ ]:
Data_Set_1 = df2[['Customer_Age', 'Claims_Rate', 'Premiums_Motor']]
kmeans1 = KMeans(n_clusters =2).fit(Data_Set_1)

In [ ]:
Data_Set_1 = df2[['Customer_Age', 'Claims_Rate', 'Premiums_Motor']]

from sklearn.cluster import KMeans

kmeans = KMeans(n_clusters =3).fit(Data_Set_1)

plt.scatter(x = Data_Set_1.Customer_Age,y= Data_Set_1.Claims_Rate, c =kmeans.labels_, cmap = 'rainbow')

In [ ]:
print(kmeans.cluster_centers_)

In [ ]:
print(kmeans.labels_)

In [ ]:
plt.scatter(y = Data_Clus.Customer_Age,x= Data_Clus.Geographic_Living_Area, c =kmeans.labels_, cmap = 'rainbow')

In [ ]:
## DB- Scan 
from sklearn.cluster import DBSCAN
db = DBSCAN(eps=0.3, min_samples=10).fit(Data_Set_1)
core_samples_mask = np.zeros_like(db.labels_, dtype=bool)
core_samples_mask[db.core_sample_indices_] = True
labels = db.labels_
plt.scatter(x = Data_Set_1.Customer_Age,y= Data_Set_1.Claims_Rate, c =kmeans.labels_, cmap = 'rainbow')

In [ ]:
class KMeans:
    def __init__(self,k):
        self.k = k 
        selk.means = None
        
    def classify(self, input):
        return min(range(self,k),
                   key = lambda i: sqrd_distance(input, self.means[i]))
    def train(self, inputs):
        self.means = random.sample(inputs, self.k)
        assignments = None
        while true:
            new_assignments = map(self.classify, inputs)
            if assignments == new_assignments:return

In [ ]:
df2.columns

In [ ]:
#sns.boxplot(df2.Customer_Monetary_Value)

## Need to know how to use 

Q1 = df2.quantile(0.25)
Q3 = df2.quantile(0.75)
IQR = Q3 - Q1
((df2 < (Q1 - 1.5 * IQR)) | (df2 > (Q3 + 1.5 * IQR))).sum()

#mask = (df2 < (Q1 - 1.5 * IQR)) | (df2 > (Q3 + 1.5 * IQR))
#df2[mask] = np.nan

In [ ]:
sns.jointplot(y = 'Claims_Rate', x = 'Customer_Age', data= df2)

In [ ]:
df2.columns

In [ ]:
df2.head()

In [ ]:
df3 = df2[(df2['Customer_Monetary_Value'] > -100).values & (df2['Customer_Monetary_Value'] < 2300).values]

In [ ]:
sns.jointplot(y = 'Customer_Monetary_Value', x = 'Customer_Age', data= df3)

In [ ]:
from

In [ ]:
from scipy.spatial.distance import cdist
clusters=range(1,10)
meandist=[]
for k in clusters:
    model=KMeans(n_clusters)
    model.fit(Data_Seg_1)
    clusassign=model.predict(Data_Seg_1)
    meandist.append(sum(np.min(cdist(df2, model.cluster_centers_),  axis=1)),
                df2.shape[0])

In [ ]:
plt.plot(clusters, meandist)
plt.xlabel('Number of clusters')
plt.ylabel('Average distance')
plt.title('Selecting k with the Elbow Method')
plt.show()

In [ ]:
Data_Seg_1 = df2[['Customer_Age',
       'First_Policy_Year', 'Geographic_Living_Area']]

In [ ]:
#from sklearn.datasets.samples_generator import make_blobs
X, y_true = make_blobs(n_samples=5000, centers=5,
                       cluster_std=0.60, random_state=0)
plt.scatter(X[:, 0], X[:,1],   data =Data_Seg_1);

In [ ]:
class KMeans:
    def __init__(self, k):
        self.k = k # number of clusters
        self.means = None # means of clusters
    
    def classify(self, input):
        return min(range(self.k),
                   key=lambda i: squared_distance(input, self.means[i]))
    def train(self, inputs):
        self.means = random.sample(inputs, self.k)
        assignments = None
        while True:
            new_assignments = map(self.classify, inputs)

            if assignments == new_assignments:return
            assignments = new_assignments
            for i in range(self.k):
                i_points = [p for p, a in zip(inputs, assignments) if a == i]
                if i_points:
                    self.means[i] = vector_mean(i_points)

In [ ]:
random.df2(0) # so you get the same results as me
clusterer = KMeans(3)
clusterer.train(inputs)
colors = 10*["g","r","c","b"]
print (clusterer.means)

In [ ]:
from sklearn.cluster import KMeans
kmeans = KMeans(init='k-means++', n_clusters=4, n_init=10)
kmeans.fit(Data_Seg_1)

In [ ]:
predictions = kmeans.predict(Data_Seg_1)

In [ ]:
set(list(predictions))

In [ ]:
len(predictions)

In [ ]:
predictions[:10]

In [ ]:
dir(kmeans)

In [ ]:
import matplotlib.pyplot as plt
from itertools import cycle

plt.figure(1)
plt.clf()

cluster_centers = kmeans.cluster_centers_

colors = cycle('bgrcmykbgrcmykbgrcmykbgrcmyk')
for k, col in zip(range(4), colors):
    my_members = predictions == k
    cluster_center = cluster_centers[k]
    plt.plot(X[my_members, 0], X[my_members, 1], col + '.')
    plt.plot(cluster_center[0], cluster_center[1], 'o', markerfacecolor=col,
             markeredgecolor='k', markersize=14)
plt.title('Estimated number of clusters: %d' % n_clusters_)
plt.show()

In [ ]:
#from sklearn.datasets.samples_generator import make_blobs
X, y_true = make_blobs(n_samples=5000, centers=5,
                       cluster_std=0.60, random_state=0)
plt.scatter(X[:, 0], X[:,1],   data =Data_Seg_1);